/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
#mail,#nyap{
    box-sizing: border-box;
    width: 350px;
    border:none;
    padding:15px;
    font-size: 17px;
    display: block;
}
h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Aplica a todos los input y button dentro del formulario de login */
#loginForm input,
#loginForm button {
    width: 300px; /* Puedes ajustar este valor según tus necesidades */
    padding: 10px; /* Añade algo de espacio interno */
    margin: 10px 0; /* Espacio entre los elementos */
    border-radius: 5px; /* Bordes redondeados para mejor estética */
    border: 1px solid #ccc; /* Borde suave */
    box-sizing: border-box; /* Asegura que el padding no agrande el width */
}

#loginForm button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Muestra un cursor de mano */
}

#loginForm button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

#loginError {
    color: red;
    margin-top: 10px;
}
.question p {
    margin: 0 0 10px 0;
    font-weight: bold;
}


label {
    display: block;
    margin: 5px 0;
}

input[type="radio"],
input[type="text"] {
    margin-right: 10px;
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjust width to fit within container */
    padding: 8px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.result {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .question {
        padding: 5px;
    }

    input[type="text"] {
        width: calc(100% - 16px); /* Adjust width for small screens */
    }

    button {
        padding: 15px;
    }
}


@media (max-width: 767px) {
    #loginForm input,
    #loginForm button,
    #quizForm button {
        width: 100%; /* En pantallas pequeñas, los inputs y botones ocupan el 100% del ancho del contenedor */
    }

    .container {
        padding: 10px; /* Reduce el padding en pantallas pequeñas */
    }
}
